@import "../../styles/config/variables";

.root {
  display: grid;
}

.shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.modal {
  display: grid;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 500px;
  padding: 0 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;

  &__inputs {
    &__names {
      display: flex;
      justify-content: space-between;
    }
  }

  &__buttons {
    display: flex;
    height: 50px;
    justify-content: flex-end;

    &__left,
    &__right {
      margin-left: 20px;
      width: 100px;
      height: 100%;
      border: none;
      outline: none;
      border-radius: 5px;
      box-shadow: 0px 1px 2.5px 2px rgba(0, 0, 0, 0.2);
      font-family: Alata;
      transition: 0.3s;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: 0.3s;
      }

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
      &:active {
        transform: scale(0.95);

        &:before {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    &__left {
      background-color: $dark-blue;
      color: white;
      font-size: 20px;
    }
    &__right {
      background-color: white;
      font-size: 20px;
    }
  }
}
