@import "../../../../styles/config/variables";

.root {
  display: grid;
  width: 50%;
}

.paper {
  position: relative;
  background-color: white;
  display: grid;
  border-radius: 4px;
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 90%;
  margin: 2.5% 0;
  margin-left: 5%;
  height: 200px;
  transition: 0.4s;

  &:hover {
    transform: scale(1.1);
    z-index: 10;
    cursor: pointer;
  }

  &__top {
    height: 80px;
    display: flex;
    align-items: center;

    &__user {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;

      &__avatar {
        background-color: #bdbdbd;
        margin-left: 15px;
        margin-right: 15px;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 100%;
        display: grid;
        align-items: center;

        color: white;
        font-size: 20px;
        font-family: Alata;
      }

      &__name {
        color: black;
        font-size: 25px;
        font-family: Alata;
      }
    }

    &__titleWrapper {
      width: 50%;
      height: 100%;
      display: grid;
      justify-items: right;
      align-items: center;

      &__title {
        margin-right: 15px;

        color: black;
        font-size: 25px;
        font-family: Sen;
      }
    }
  }

  &__bottom {
    display: grid;
    width: 100%;
    height: 60%;

    &__tasksList {
      margin: 0;
      padding: 0;
      list-style-type: none;

      &__task {
        height: 40px;
        margin-left: 15px;
        margin-right: 15px;

        &__box {
          background-color: white;
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          border-radius: 2px;
          box-shadow: 0 1px 2.5px 0px rgba(0, 0, 0, 0.5);

          p {
            margin: 0;
            padding: 0;
            margin-left: 10px;

            color: black;
            font-family: Alata;
          }
        }
      }
    }
  }

  &__shadow {
    pointer-events: none;
    position: absolute;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1) 95%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
