//** Spacers **//
$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 16px;
$spacer-l: 24px;
$spacer-xl: 32px;

//** Grid Breakpoints and Class Names **//
//Do not change the variable names
$grid-medium: 750px;
$grid-large: 990px;
$grid-widescreen: 1400px;

$small: "small";
$medium: "medium";
$medium-down: "medium-down";
$medium-up: "medium-up";
$large: "large";
$large-down: "large-down";
$large-up: "large-up";
$widescreen: "widescreen";

// The `$breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$breakpoints: (
  $small "(max-width: #{$grid-medium - 1})",
  $medium "(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})",
  $medium-down "(max-width: #{$grid-large - 1})",
  $medium-up "(min-width: #{$grid-medium})",
  $large "(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})",
  $large-down "(max-width: #{$grid-widescreen - 1})",
  $large-up "(min-width: #{$grid-large})",
  $widescreen "(min-width: #{$grid-widescreen})"
);

//Used for fluid Typography
$min-width: 375px;
$max-width: 1400px;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");

// Colors
$primary-blue: #4054be;
$dark-blue: #003fa3;

// $avatar: #b4b4b4;
$avatar: linear-gradient(#c4c4c4, #a5a5a5);

//easing
$easing-function: cubic-bezier(0.16, 1, 0.3, 1);
$easing-timing: 2s;
