@import "../../../../styles/config/config";

.root {
  display: grid;
}
.shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.alertBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;

  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.3);
  width: 400px;

  &__title {
    h3 {
      margin: 0;
    }
  }

  &__message {
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      @include standardButton($dark-blue, white, 15px);

      margin-left: 10px;
    }
  }
}

.notUsed {
  display: none;
}
