html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*[data-animate="fade-in-up"] {
  opacity: 0;
  transform: translateY(40px);
  transition: all $easing-timing $easing-function;

  &.animate {
    opacity: 1;
    transform: none;
  }
}

*[data-animate="grow-across"] {
  transform-origin: right;
  transform: scaleX(0);
  transition: transform $easing-timing $easing-function;

  &.animate {
    transform: none;
  }

  &[data-origin="left"] {
    transform-origin: left;
  }
}
