@import "../../styles/config/config";

.root {
  display: grid;
}

.hero {
  display: grid;
  width: 100%;
  height: 200px;

  &__left {
    display: none;

    h1 {
      @include media-query($large-up) {
        margin-right: 150px;
        color: black;
        font-family: Sen;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 43px;
        text-align: left;
      }
    }

    button {
      @include media-query($large-up) {
        background-color: $primary-blue;
        border: none;
        outline: none;
        width: 180px;
        height: 55px;
        border-radius: 100px;
        color: white;

        font-family: Sen;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 22px;
      }
    }

    @include media-query($large-up) {
      display: grid;
      width: 40%;
      padding-top: 50px;
      padding-left: 150px;
    }
  }

  &__img {
    display: grid;
    background-image: url(/images/Checklist.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;

    &__shadow {
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      padding: 10px;
      display: grid;
      justify-items: center;

      h1 {
        color: white;
        font-family: Sen;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 43px;
        text-align: center;
      }

      button {
        background-color: $primary-blue;
        border: none;
        outline: none;
        width: 125px;
        height: 35px;
        border-radius: 100px;
        color: white;

        font-family: Sen;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
      }

      @include media-query($large-up) {
        display: none;
      }
    }

    @include media-query($large-up) {
      width: 60%;
    }
  }

  @include media-query($large-up) {
    display: flex;
    height: 600px;
  }
}

.list {
  width: 100%;
  height: 200px;
  padding-top: 40px;

  &__item {
    height: 20px;
    padding: 0 50px;

    h3 {
      pointer-events: none;
      font-family: Sen;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      transition: 0.3s;
    }

    &__bar {
      pointer-events: none;
      background: transparent;
      margin-top: -10px;
      width: 100%;
      height: 0px;
      border: 1px solid $primary-blue;
      transform: scale(0);
      transition: 0.3s;
    }
  }

  @include media-query($large-up) {
    display: none;
  }
}

.preview {
  background-color: white;
  box-shadow: 0px 0px 2.5px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;

  &__bar {
    background-color: transparent;
    width: 100%;
    height: 0px;
    border: 3px solid $primary-blue;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &__message {
    display: grid;
    margin-top: -30px;

    &__box {
      grid-area: 1 / 1 / 2 / 2;
      opacity: 0;
      transition: 0.5s;

      h2 {
        font-family: Sen;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
      }

      p {
        color: #606060;
        font-family: Sen;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__box {
    display: grid;
    width: 100px;

    &__svg {
      grid-area: 1 / 1 / 2 / 2;
      opacity: 0;
      transition: 0.5s;
    }
  }

  @include media-query($large-up) {
    display: none;
  }
}

.values {
  width: 100%;
  padding: 200px 150px 0px;

  &__value,
  &__value2 {
    display: flex;
    width: 100%;
    height: 500px;

    &__left {
      width: 50%;

      &__bar {
        background-color: transparent;
        width: 80%;
        height: 0px;
        border: 4px solid $primary-blue;
      }

      h2 {
        margin-bottom: 0;
        font-family: Sen;
        font-size: 48px;
        font-style: bold;
      }

      p {
        width: 95%;
        margin-top: 30px;
        color: #606060;

        font-family: Sen;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__preview {
      display: grid;
      justify-content: right;
      width: 50%;
      padding-top: 50px;
      padding-right: 100px;

      svg {
        box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__value2 {
    flex-direction: row-reverse;

    &__left {
      text-align: right;

      &__bar {
        float: right;
      }

      p {
        width: 100%;
      }
    }

    &__preview {
      justify-content: left;
      padding-left: 100px;
    }
  }

  @include media-query($medium-down) {
    display: none;
  }
}

.footer {
  background-color: white;
  width: 100%;
  height: 80px;
  box-shadow: 0px -1.5px 2px rgba(0, 0, 0, 0.2);

  h1 {
    color: $primary-blue;
    font-family: Sen;
    text-align: center;
  }
}

.active {
  h3 {
    transform: translateY(-10px);
    font-weight: bold;
    font-size: 20px;
  }

  div {
    transform: scale(1) translateY(-10px);
  }
}
.selected {
  opacity: 1;
}
