@import "../../styles/config/config";

.root {
  flex-grow: 1;
}

.mainPaper {
  background-color: transparent;
  padding: 20px;

  &__tasksBox {
    background-color: rgb(220, 220, 220);
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.2);

    &__tasksTopBar {
      background-color: white;
      display: flex;
      align-items: center;
      padding-left: 20px;
      height: 75px;

      &__arrowButton {
        display: grid;
        justify-content: center;
        margin-left: -15px;
        margin-right: -15px;
        width: 30px;
        height: 30px;
        padding-top: 2.5px;
        border: none;
        outline: none;

        &:hover {
          cursor: pointer;
        }
      }

      &__taskAvatar {
        display: grid;
        align-items: center;
        background-color: $avatar;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-left: 20px; // theme.spacing(2),

        &__initials {
          color: white;
          font-weight: 500;
          font-size: 20px;
          font-family: Alata;
          text-align: center;
        }
      }

      &__taskAssigneeName {
        margin-left: 10px;
        width: 50%;
        font-weight: 500;
      }

      &__tasksHeader {
        width: 50%;
        text-align: right;
        padding-right: 20px;
        font-size: 25px;
      }
    }

    &__taskBoxSeparator {
      //   background-color: rgb(200, 200, 200);
      background-color: transparent;
      width: 100%;
      height: 25px;
    }

    &__taskBox {
      display: flex;
      align-items: center;
      background-color: white;
      height: 75px;
      padding: 20px; // theme.spacing(2),
      margin-top: 1px;

      &__taskAvatar {
        @include avatar(40px, 18px);

        margin-left: 20px;
      }

      &__taskAssigneeName {
        width: 20%;
        margin-left: 10px; // theme.spacing(1),

        h3 {
          font-weight: 500;
        }
      }

      &__taskTitle {
        width: 25%;
        font-size: 20px;
      }

      &__taskInstructor {
        width: 15%;
        font-weight: 500;

        &__wrapper {
          display: flex;
          align-items: center;
        }
      }

      &__points {
        width: 10%;
      }

      &__date {
        width: 15%;
      }

      &__button {
        display: grid;
        justify-content: center;
        width: 10%;

        button {
          @include standardButton($dark-blue, white, 15px);
        }
      }
    }
  }
}
