.root {
  display: grid;
  margin-bottom: 10px;
}

.wrapper {
  &__label {
    background-color: white;
    pointer-events: none;
    position: absolute;
    margin-top: 25px;
    margin-left: 8px;
    transition: 0.2s;

    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
  }

  &__input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
    padding-left: 8px;
    margin-bottom: 10px;
    transition: 0.2s;

    font-size: 15px;
    padding-top: 22px;

    &:focus {
      border-bottom-color: blue;
      border-bottom-width: 2px;
    }
  }
}

.active {
  &__label {
    transform: translateY(-25px);
    font-size: 10px;
  }
}
