@import "../../../../styles/config/config";

.root {
  margin-top: 30px;
  padding: 30px;
}

.mainPaper {
  background-color: white;
  box-shadow: 0px 1px 2.5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;

  &__top {
    display: flex;
    align-items: center;
    padding: 0 20px;

    &__left {
      width: 50%;

      &__participantsHeader {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }

    &__right {
      display: flex;
      justify-content: flex-end;
      width: 50%;

      &__myTasksButton {
        @include standardButton($dark-blue, white, 18px);
      }
    }
  }

  &__bottom {
    display: grid;
  }
}
