.taskDescription {
  height: 0;
  overflow: hidden;

  &__background {
    padding: 20px; // theme.spacing(2);
  }
}
.arrowButton {
  position: absolute;
  display: grid;
  justify-content: center;
  outline: none;
  border: none;
  padding-top: 2.5px;
  margin-left: 5px;
  margin-top: -50px; // theme.spacing(-6.5),
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}
