.root {
  display: grid;
}

.mainPaper {
  margin: 30px;
  padding: 20px;
  padding-top: 0px;
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

  &__top {
    display: flex;
    align-items: center;
    height: 80px;

    &__title {
      width: 50%;
      text-align: left;
    }

    &__points {
      width: 50%;
      text-align: right;
    }
  }
  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 50%;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
