@import "../../styles/config/config";

.root {
  position: fixed;
  top: 0;
  display: flex;
  box-shadow: none;
  background-color: $primary-blue;
  width: 100%;
  height: 100px;
  align-items: center;
  z-index: 1000;

  @include media-query($large-up) {
    position: absolute;
  }
}

.home {
  display: flex;
  align-items: center;
  transition: 0.3s;
  width: 40%;
  height: 100%;

  &__logo {
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }

  &__button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 8px;
    justify-content: flex-start;
    text-transform: none;
    letter-spacing: 0;
    transition: 0.3s;

    &__header {
      font-family: Sen;
      font-weight: 700;
      font-size: 36px;
      font-style: normal;
      line-height: 43px;
      color: white;

      @include media-query($small) {
        display: none;
      }
    }
  }

  @include media-query($large-up) {
    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }
  }
}

.nav {
  width: 50%;
  display: flex;
  flex-direction: row;
}
