@import "../../../../styles/config/config";

.root {
  display: grid;
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 49%;
}

.top {
  display: flex;
  align-items: center;
  height: 50px;

  &__title {
    width: 50%;
    margin-left: 10px;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 10px;
    font-size: 15;
    text-align: center;

    &__avatar {
      @include avatar(40px, 15px);

      margin-left: 10px;
    }
  }
}

.bottom {
  display: grid;

  &__main {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;

    &__title {
      width: 70%;
    }

    &__cost {
      width: 15%;
    }

    &__button {
      width: 15%;

      button {
        @include standardButton(transparent, white, 15px);
      }
    }
  }
}
