.root {
  width: 95%;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.tasksHolder {
  width: 100%;
  height: 100%;
  padding: 20px 0;

  &__header {
    display: flex;
    text-align: left;
    margin: 0;
    width: 95%;
    margin-left: 2.5%;
  }

  &__tasksWrapper {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    height: auto;
  }
}
