@import "../../../styles/config/config";

.root {
  display: grid;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.navList {
  display: flex;
  width: 100%;
  height: 100%;
  list-style-type: none;
  align-items: center;

  @include media-query($small) {
    display: none;
  }

  &__item {
    margin: 0 5px;
    width: 120px;

    &__button {
      color: white;
      width: 100%;
      height: 100%;
      padding: 10px 0;
      border-radius: 5px;
      transition: 0.3s;
      text-align: center;

      p {
        font-family: Sen;
        font-style: normal;
        font-weight: 1000px;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
      }

      @include media-query($large-up) {
        &:hover {
          transform: translateY(-5px);
          cursor: pointer;
        }
      }
    }

    &__active {
      color: grey;
      // & .icon {
      //   color: "grey";
      // }
    }
    // .icon {
    //   color: white;
    //   width: 24;
    //   height: 24;
    //   display: "flex";
    //   align-items: "center";
    //   marginRight: theme.spacing(1);
    // }
  }
}

.menu {
  background-color: rgba(0, 0, 0, 0.2);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 15px;

  @include media-query($medium-up) {
    display: none;
  }

  &__img {
    margin-top: 7px;
    margin-left: 5px;
    width: 45px;
    height: 45px;

    rect {
      transform-origin: 33% 33%;
      transition: 0.3s;
    }

    .menuOpened & {
      &__top {
        transform: scale(0.75) rotate(-45deg) translate(3px, 16px);
      }
      &__mid {
        transform: scale(0.75) rotate(45deg) translate(-3px, 8px);
      }
      &__bot {
        transform: translateX(-30px);
        opacity: 0;
      }
    }
  }

  &__navList {
    background-color: white;
    position: absolute;
    top: 84px;
    right: 0;
    width: 150px;
    height: 0px;
    display: grid;
    list-style-type: none;
    padding: 0;
    padding-left: 10px;
    overflow: hidden;
    box-shadow: -1px 1.5px 2.5px 1px rgba(0, 0, 0, 0);

    &__item {
      width: 100%;
    }
  }

  .menuOpened & {
    &__navList {
      box-shadow: -1px 1.5px 2.5px 1px rgba(0, 0, 0, 0.2);
    }
  }
}
