@import "../../../styles/config/config";

.root {
  flex-grow: 1;
}

.main {
  background-color: white;
  min-width: 200px;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 2.5px 2px rgba(0, 0, 0, 0.3);

  &__username {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    text-align: center;

    &__avatar {
      @include avatar(60px, 25px);

      margin-top: -30px;
      margin-left: 45px;
    }
  }

  &__cardTop {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

    &__cardTitle {
      width: 50%;
      font-size: 20px;
      font-weight: 500;
    }

    &__cardTopRight {
      display: grid;
      justify-content: right;
      width: 50%;
    }
  }

  &__cardBottom {
    &__cardDescription {
      font-size: 14px;
      overflow: auto;
      max-height: 100px;
      white-space: pre-wrap;
    }
  }
}
