@import "../../styles/config/variables";

.root {
  margin-top: 30px;
  padding: 50px;
}

.accountInfo {
  display: flex;
  justify-content: space-between;

  &__card {
    width: 31%;

    &__button {
      outline: none;
      border: none;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.tasksWrapper {
  margin-top: 30px;
}

.taskPaper {
  background-color: white;
  margin-top: 30px;
  box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.2);
}
